pandas
numpy
scipy
scikit-learn
xgboost
stumpy

matplotlib
seaborn
plotly
plotly-express

flask
requests
asyncio
dash

pyyaml
pyarrow
pyodbc
SQLAlchemy

jupyter
jupyterlab
jupyter-dash
ipykernel
ipython-sql

paho-mqtt
weave
scikit-learn